body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
	width:10em;
	height:10em;
	text-align: center;
	border:1px solid black;
	margin: 10px;
	display: inline-table;
    vertical-align: middle;
}

a {
	width:10em;
	height:10em;
	display: table-cell;
	vertical-align: middle;
}

